.sceleton-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  background-color: #F2F6D3;
  border-radius: 12px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg, // направление сдева на право
      rgba(242, 246, 211, 0) 0%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(242, 246, 211, 0) 100%
    );
    transform: translateX(-100%); // начинает градиент вне карточки слева
    animation: shimmer 2s infinite; // запускает бесконечное движение этого слоя
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}